 

@tailwind base;
@tailwind components;
@tailwind utilities;

.toggle-checkbox {
    appearance: none;
    background-color: #ddd;
    border-radius: 9999px;
    width: 50px;
    height: 24px;
    position: relative;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
  }
  
  .toggle-checkbox:checked {
    background-color: #4A5568;
  }
  
  .toggle-checkbox::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    border-radius: 9999px;
    background-color: white;
    transition: transform 0.3s;
  }
  
  .toggle-checkbox:checked::before {
    transform: translateX(26px);
  }
  

  .app {
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    overflow:auto; /* Hide overflow to prevent scrollbars if the image is slightly larger */
  }
  